/* favourites page */




body{
    margin: 0px;
    background-color: cornsilk;
  }

  /* nav bar */
  nav{
    height: 70px;
    background-color: blueviolet;
    display: flex;
    width: 100%;
    
  }

  #fav-btn-container a{
   
    text-decoration: none;
    color: lightgray;
    margin-left: 30px;
  
  
  }
  
  #fav-btn-container a:hover{
  
    color: white;
    font-size: large;
  
  
  }
  
  #logo{
    padding: 10px;
    width: 50px;
    height: 50px;
    
  }
  #logo img{
    width: 100%;
    border-radius: 50%;
    
  }


  /* main content */
  
  #favourite-container{
    padding-top: 90px;
    width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }