body{
  margin: 0px;

}
nav{
  /* margin: 5px; */
  height: 70px;
  background-color: blueviolet;
  display: flex;
  width: 100%;
}
#fav-btn-container{
  
  margin-top: 25px;


}
#fav-btn-container a{
 
  text-decoration: none;
  color: lightgray;
  margin-left: 30px;


}

#fav-btn-container a:hover{

  color: white;
  font-size: large;


}

#logo{
  padding: 10px;
  width: 50px;
  height: 50px;
  
}
#logo img{
  width: 100%;
  border-radius: 50%;
  
}


/*main content */

#search-box{
  display: flex;
  justify-content: center;
  margin: 40px 0px;
  
}

#search-box input{
  padding-left: 3%;
  width: 40%;
  height: 30px;
  border-radius: 20px;
}


#food-api-conatiner{
    
    
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.food-card{
  
    
    width: 280px;
    /* height: 500px; */
    background-color: rgb(197, 197, 197);
    /* margin-right: 10px; */
    margin-bottom: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    text-align: center;

}
.food-image{
    width: 250px;
    height: 250px;
    margin: 7%;
}


.fill{
  color:brown;
  font-variation-settings:
  'FILL' 1
}

/* details page */
