/* body {
    overflow-y: hidden; 
    overflow-x: hidden; 
  } */
#search-box{
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
#food-api-conatiner{
    
    
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.food-card{
  
    
    width: 300px;
    height: 500px;
    background-color: aquamarine;
    /* margin-right: 10px; */
    margin-bottom: 10px;
    border: 1px solid black;

}
.food-image{
    width: 250px;
    height: 250px;
    margin: 7%;
}




/* details page */

.meal-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin: auto; */
    width: 95%;
    background-color: rgb(222, 34, 13);
}
.details-food-image{
    /* margin: auto; */
    width: 250px;
    height: 250px;
}

.Instructions-container{
    
    width: 75%;
}
