/* index page */
body{
  margin: 0px;

}

/* nav bar */
nav{
  position: fixed;
  height: 70px;
  background-color: blueviolet;
  display: flex;
  width: 100%;
}
#fav-btn-container{
  
  margin-top: 25px;


}
#fav-btn-container a{
 
  text-decoration: none;
  color: lightgray;
  margin-left: 30px;
  transition: all 0.2s ease-in-out;


}

#fav-btn-container a:hover{

  color: white;
  font-size: large;


}

#logo{
  padding: 10px;
  width: 50px;
  height: 50px;
  
}
#logo img{
  width: 100%;
  border-radius: 50%;
  
}


/*main content */


/* search bar */
#search-box{
  display: flex;
  justify-content: center;
  padding: 100px 30px 0px 0px;
  
}

#search-box input{
  padding-left: 3%;
  width: 40%;
  height: 30px;
  border-radius: 20px;
}


/* meal desplay section */

#food-api-conatiner{
    
    
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;

}


.food-card{
  
    
    width: 280px;
    background-color: rgb(197, 197, 197);
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
    border-radius: 10px;

}
.food-image{
  border: 1.5px solid grey;
  border-radius: 0px 30px 0;
    width: 250px;
    height: 250px;
    margin-top: 10px;

}



.detail-btn{
  background: transparent;
  transition: all 0.2s ease-in-out;
  border:  2px solid blueviolet;
}
.detail-btn:hover{
  background:  blueviolet;
  color: lightgrey;
  transform: scale(1.1);
}
.material-symbols-outlined{
  transition: all 0.2s ease-in-out;
  color: blueviolet;
}
.material-symbols-outlined:hover{
  transform: scale(1.3);
  
cursor: pointer;
}

.fill{
  color:brown;
  font-variation-settings:
  'FILL' 1
}